@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    font-size: medium;

    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: #1a1a2e;
    color: #232323;
}

.center-container {
    display: flex;

    width: 100%;
    height: 100%;

    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.center-container-row {
    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.center {
    display: flex;

    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.center-row {
    display: flex;

    justify-content: center;
    align-items: center;
}

input {
    background-color: transparent;
    color: #e94560;

    font-size: large;

    border: 0;
    border-radius: 0;
    border-bottom: solid 2px #e94560;

    margin: 10px 0;
    width: 100%;
    padding: 5px 0px;

    transition: all 0.2s;
}

input:focus {
    outline: 0;

    color: #fff;
    border-bottom: solid 2px #fff;

    transition: all 0.2s;
}

input:hover {
    outline: 0;
    color: #fff;

    border-bottom: solid 2px #fff;

    transition: all 0.2s;
}

::placeholder {
    color: #e94560;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    
    background: transparent;
    color: #e94560;

    border: 0;
    border: solid #e94560 2px; 
    border-radius: 5px; 

    transition: all 0.2s;
}

button:focus {
    outline: 0;
}

button:hover {
    border: 0;
    border: solid #fff 2px; 
    color: #fff;

    transition: all 0.2s;

    cursor: pointer;
}

.kirim {
    width: 25%;

    border: solid #e94560 2px; 
    border-radius: 5px; 

    color: #e94560; 
    font-weight: bold;
}

.kirim:hover {
    border: solid #fff 2px; 

    color: #fff;
}

h1 {
    font-weight: normal;
    font-size: x-large;
    color: #e94560;
}

.img-profile {
    width: 90px;
    height: 90px;

    border-radius: 50%;
}

.bg {
    background-color: #16213e;
    color: #fff;

    min-width: 350px;
    
    padding: 15px;
    margin: 5px 0;
    margin-top: 5px;

    border-radius: 10px;
}

.center-bg {
    display: flex;

    flex-direction:column;
    justify-content: center;
    align-items: center;
}